DATABASE_URL=postgresql+asyncpg://postgres.vzmtnbuubvoaryhajwpu:<db-password>@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?prepared_statement_cache_size=0
LOG_LEVEL=DEBUG
ENVIRONMENT=development
SECRET_KEY=SECRET-KEY
SHOW_SQL_LOG=False