# system
LOG_LEVEL=DEBUG
ENVIRONMENT=development

# DB config
DB_USER=YOUR-DB-USER
DB_PASSWORD=YOUR-DB-PASSWORD
DB_HOST=YOUR-DB-HOST
DB_PORT=YOUR-DB-PORT
DB_NAME=YOUR-DB-NAME

# DB pool
POOL_SIZE=1
MAX_OVERFLOW=0
POOL_TIMEOUT=30.0
POOL_RECYCLE=1800


# SECRET_KEY=YOUR-SECRET-KEY
SHOW_SQL_LOG=False
ALLOW_ORIGINS=["http://localhost:5173"]

# redis config
REDIS_HOST=YOUR-REDIS-HOST
REDIS_PORT=YOUR-REDIS-PORT
REDIS_TTL=300